<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>JAL-WAH!</title>
		<link rel="stylesheet" href="lib/css/dev/jquery.mobile-1.4.5.css">
		<link rel="stylesheet" type="text/css" href="lib/css/style.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
		<script type="text/javascript">
			var serverHost = 'http://localhost:3000';
		</script>
		<script src="lib/js/dev/jquery.js"></script>
		<script src="lib/js/dev/jquery.mobile-1.4.5.min.js"></script>
		<script src="lib/js/dev/highcharts.js"></script>
		<script src="lib/js/app.js"></script>
	</head>
	<body>
    <%= partial "partials/login" %>
    <%= partial "partials/home" %>
    <%= partial "partials/impact" %>
    <%= partial "partials/leaderboard" %>
	</body>
</html>
