<!-- Home page -->
<div data-role="page" id="home">
	<%= partial "partials/menu" %>
	<div data-role="header" class="bj_blue">
    <div data-role="collapsible" data-mini="true" class="notification_over">
            <h4>1</h4>
            <ul data-role="listview">
                <li><a href="#">List item 1</a></li>
                <li><a href="#">List item 2</a></li>
                <li><a href="#">List item 3</a></li>
            </ul>
        </div>
		<span class="icon-menu"><a href="#myPanel"></a></span>
		<span class="icon-Pledge" style="display:none"></span>
		<span class="icon-notification"></span><span class="red_tip">1</span>        
        <div data-role="popup" id="positionOrigin" class="ui-content" data-theme="a">
        <p>I am positioned over the origin.</p>
        </div>
		<h1>JAL-WAH!</h1>
	</div>  

	<div data-role="main" class="ui-content">
		<div data-role="tabs" id="tabs" class="impact_tab">
			<div data-role="navbar">
				<ul class="ui_bottom_line">
					<li>
						<a href="#one" data-ajax="false" class="impact_tab_a">Daily</a>
					</li>
					<li>
						<a href="#two" data-ajax="false">Weekly</a>
					</li>
					<li>
						<a href="#three" data-ajax="false">Monthly</a>
					</li>
				</ul>
			</div>
			<div id="one" class="ui-body-d ui-content height_fit"></div>
			<div id="two" class="ui-body-d ui-content height_fit"></div>
			<div id="two" class="ui-body-d ui-content height_fit"></div>
		</div>
		<div class="container" id="container"></div>
		<div data-role="popup" class="usagewarning">
			<p>You have crossed your threshold limit for this week and your water flow has been reduced to 60%.</p>
			<button class="pledge">I pledge to reduce my water consumption.This will restore your water flowto 100%.(This is your 2nd pledge this year).
			</button>
			<button class="leaveit">I want to improve! I am fine with 60% water flow.(Your normal water flow will be re-stored after 24hrs).</button>
		</div>
		<div data-role="popup" class="restorewater">
			<p>Thank you for pledging to reduce your water consumption.<br>Your water flow has been restored to 100%</p>
		</div>
	</div>
</div>
<!-- /Home page -->
