<!-- Home page -->
<div data-role="page" id="home">
	<div data-role="panel" id="myPanel"> 
    	<a href="#home">B206,Ozone EverGreen</a><br>
    	<a href="#impact">Impact</a><br>
    	<a href="leader">Leader Board</a><br>
    	<a href="javascript:void(0);">Discussion Board</a><br>
    	<a href="javascript:void(0);">Invite Others</a><br>
    	<a href="javascript:void(0);">Profile</a>
  	</div>
	<div data-role="header" class="bj_blue">
		<span class="icon-menu"><a href="#myPanel"></a></span>
		<span class="icon-Pledge" style="display:none"></span>
		<span class="icon-notification"></span><span class="red_tip">1</span>
		<h1>JAL-WAH!</h1>
	</div>
	<div data-role="main" class="ui-content">
		<div class="container"></div>
		<div data-role="popup" class="usagewarning">
  			<p>You have crossed your threshold limit for this week and your water flow has been reduced to 60%.</p>
  			<button class="pledge">I pledge to reduce my water consumption.This will restore your water flowto 100%.(This is your 2nd pledge this year).</button>
  			<button class="leaveit">I want to improve! I am fine with 60% water flow.(Your normal water flow will be re-stored after 24hrs).</button>
				</div>
				<div data-role="popup" class="restorewater">
					<p>
						Thank you for pledging to reduce your water consumption.
						<br>
						Your water flow has been restored to 100%
					</p>
				</div>
			</div>
		</div>
		<!-- /Home page -->