<!-- Impact page -->

<div data-role="page" id="impact">
    <%= partial "partials/menu" %>
  <!-- header -->
  <div data-role="header" class="bj_blue"> <span class="icon-menu"><a href="#myPanel"></a></span> <span class="icon-logo"></span> <span class="top_text_1">Impact</span> <span class="icon-notification"></span><span class="red_tip">1</span>
    <div data-role="tabs" id="tabs" class="impact_tab">
      <div data-role="navbar">
        <ul class="ui_bottom_line">
          <li> <a href="#one" data-ajax="false" class="impact_tab_a">Day</a> </li>
          <li> <a href="#two" data-ajax="false">Week</a> </li>
          <li> <a href="#three" data-ajax="false">Month</a> </li>
        </ul>
      </div>
      <div id="one" class="ui-body-d ui-content height_fit day_01">
        <h1></h1>
      </div>
      <div id="two" class="ui-body-d ui-content height_fit day_02">
        <h1></h1>
      </div>
      <div id="three" class="ui-body-d ui-content height_fit day_03">
        <h1></h1>
      </div>
    </div>
    <!-- /header --> 
    <!-- content --> 
  </div>
</div>
<!-- /Impact page -->