<!-- leaderboard page -->

<div data-role="page" id="leaderboard2">
  <%= partial "partials/menu" %>
  <!-- header -->
  <div data-role="header" class="bj_blue"><span class="icon-menu"><a href="#myPanel"></a></span><span class="icon-logo"><a href=""></a></span><span class="top_text_1">Leader Board</span><span class="icon-notification"><a href=""></a></span><span class="red_tip">1</span>
    <div data-role="tabs" id="tabs2" class="impact_tab">
      <div data-role="navbar">
        <ul class="ui_bottom_line">
          <li><a href="#All" data-ajax="false" class="impact_tab_a">All</a></li>
          <li><a href="#Top" data-ajax="false">Top 10</a></li>
          <li><a href="#Last" data-ajax="false">Last 10</a></li>
        </ul>
      </div>
      <div id="All" class="ui-body-d ui-content leader_board leaderboard_01">
        <h1></h1>
      </div>
      <div id="Top" class="ui-body-d ui-content leader_board leaderboard_02">
        <h1></h1>
      </div>
      <div id="Last" class="ui-body-d ui-content leader_board leaderboard_03">
        <h1></h1>
      </div>
    </div>
    <!-- /header --><!-- content --></div>
</div>
<!-- /leaderboard page -->