<!-- leaderboard page -->
<div data-role="page" id="leaderboard2">
	<div data-role="panel" id="myPanel"> 
    	<p>B206,Ozone EverGreen</p>
    	<p>Impact</p>
    	<p>Leader Board</p>
    	<p>Discussion Board</p>
    	<p>Invite Others</p>
    	<p>Profile</p>
  	</div>
	<!-- header -->
    <div data-role="header" class="bj_blue">
      <span class="icon-menu"><a href="#myPanel"></a></span>
      <span class="icon-logo"><a href=""></a></span> 
      <span class="top_text_1">Leader Board</span>
      <span class="icon-notification"><a href=""></a></span><span class="red_tip">1</span>      
      <div data-role="tabs" id="tabs" class="impact_tab">
              <div data-role="navbar">
                <ul class="ui_bottom_line">
                  <li><a href="#one" data-ajax="false" class="impact_tab_a">All</a></li>
                  <li><a href="#two" data-ajax="false">Top 10</a></li>
                  <li><a href="ajax-content-ignore.html" data-ajax="false">Last 10</a></li>
                </ul>
              </div>
              <div id="one" class="ui-body-d ui-content height_fit leaderboard_01">
                <h1></h1>
              </div>
              <div id="two" class="ui-body-d ui-content height_fit leaderboard_02">
                <h1></h1>
              </div>
             <div id="two" class="ui-body-d ui-content height_fit leaderboard_03">
                <h1></h1>
              </div>
    </div><!-- /header -->
	<!-- content -->
    
	</div>
</div>
<!-- /leaderboard page -->