
		<!-- Login page -->
		<div data-role="page" id="login" style="display:none;">
			<!-- header -->
			<div data-role="header" class="bj_blue">
				<h1>JAL-WAH!</h1>
			</div><!-- /header -->
			<!-- content -->
			<div role="main" class="ui-content">
				<p align="center">
					Welcome to
					<br>
					<strong>H007 OZONE EVERGREENS.</strong>
					<br>
					Let’s set up your profile.
				</p>
				<p  align="center">
					<img src="lib/css/img/user.png">
				</p>
				<form id="registrationForm" class="form_name">
					<input type="text" placeholder="Enter Name" value="" class="text_align usrname">
					<input type="text" placeholder="Enter Mobile Number" value="" class="text_align mobileno">
					<input type="text" placeholder="Enter email" value="" class="text_align email">
					<div class="ui-field-contain no_person">
						    <label for="number-1 ">Number of people in home:</label>

						     
						<input type="number" data-clear-btn="false" name="number-1" id="number-1" value="">
					</div>
					<label for="textinput-2">Invite others</label>
					<input type="text" name="textinput-2" id="textinput-2" placeholder="Invite others" value="">				
				<p>
					<button class="ui-btn button_blue submit login_sub">
						Now let’s <strong>save some water!</strong>
					</button>
				</p>
				</form>
				<a href="#impact" >Imoact</a>

			</div><!-- /content -->
		</div>
		<!-- /Login page -->
